/.idea/
### CLion Ignore Files ###
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
/cmake-build-debug/
### Code Blocks Ignore Files #
TP5.layout
TP5.depend
bin/
obj/
TP5.cbp
